body{
  background-color:#252120;
  top:400px;
}

#main_row{
  padding:  200px 0px 0px 0px;
}

#quote_wrapper, #button_wrapper{
  width: 50%;
  margin: 0 auto;
}

#quote_text{
  font-size: 40px;
}

#generate{
  width:100%;
	margin: 0 auto;
  display: block;
  background-color: #342e2d;
  color: #597731;
}

#tweet{
  width:100%;
}

blockquote{
  border-left: none;
}

blockquote > p{
  color:#91C749;
}
